<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.ourcodeworld.preventscreenshots"
        version="1.0.0">

    <name>Our Code World Prevent Screenshots</name>

    <engines>
        <engine name="cordova" version=">=3.4.0"/>
    </engines>

    <asset src="www/ourcodeworldpreventscreenshots.js" target="js/ourcodeworldpreventscreenshots.js"/>

    <js-module src="www/ourcodeworldpreventscreenshots.js" name="OurCodeWorldpreventscreenshots">
        <clobbers target="OurCodeWorldpreventscreenshots" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="OurCodeWorldpreventscreenshots">
                <param name="android-package" value="com.ourcodeworld.plugins.preventscreenshots.OurCodeWorldpreventscreenshots"/>
            </feature>
        </config-file>

        <source-file src="src/android/OurCodeWorldpreventscreenshots.java" target-dir="src/com/ourcodeworld/plugin/"/>
    </platform>
</plugin>
